.button{
	-fx-font-weight:bold;
	-fx-background-color:#2196f3;
	-fx-background-radius:22;
	-fx-font-size:12;
	-fx-text-fill:white;
}

.button:hover{
	-fx-background-color:white;
	-fx-text-fill:#2196f3;
	-fx-border-color:#2196f3;
	-fx-border-radius:20;
	-fx-border-width:3;
}

.label{
	-fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.text-field{
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-prompt-text-fill: #455a64; 
}
 
.text-field:hover{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
}




